<!--desktop-->
<div class="desktop">
  <nav class="py-3">
  <div class="row">
    <div class=" d-flex justify-content-between align-items-center " >

      <h1 class="text-white d-flex align-items-center m-0 "><span class="l">&lt;C/&gt;</span> <span>Abdullah</span></h1>
      <div class="d-flex align-items-center">
        <ul class="m-0 p-0">
  <li class="nav-item" [ngClass]="{ active: activeIndex === -1 }">
    <a (click)="activeLink(-1,'#home')" [ngStyle]="{ color: activeIndex === -1 ? '#12f7d6' : 'white' }">Summary</a>
  </li>
</ul>

<ul *ngFor="let link of links;  trackBy : trackFun; let i = index" class="m-0">
  <li class="nav-item" [ngClass]="{ active: activeIndex === i }">
    <a (click)="activeLink(i,link.nav)" [ngStyle]="{ color: activeIndex === i ? '#12f7d6' : 'white' }">{{ link.name }}</a>
  </li>

</ul>

<ul class="m-0">
  <li class="d-flex align-items-center">
    <img src="../../../../assets/header/github.svg" class="me-2" alt="github icon" loading="lazy">
    <a href="https://github.com/AbdullahKhormi"  class="text-white text-decoration-none" target="_blank"><span >Github</span></a>
  </li>
</ul>

      </div>
    </div>
  </div>
</nav>
</div>
<!--mobile-->
<div class="mobile">
  <nav class="py-3">
<div class="w-100">
    <div class="row">
    <div class=" d-flex justify-content-between align-items-center " >

      <h1 class="text-white d-flex align-items-center m-0 myName_header"><span class="l">&lt;C/&gt;</span><span> Abdullah</span></h1>
      <div class="d-flex align-items-center">



<div class="menu-wrapper " >
  <!-- menu icon -->
  <ul class="m-0">
    <li *ngIf="links.length > 1">
      <a (click)="clickDropDown()">
        <ng-container *ngIf="!openDropDown; else closeIcon">
          <img src="../../../../assets/header/icon-menu.svg" alt="Open menu" loading="lazy">
        </ng-container>
        <ng-template #closeIcon>
          <img src="../../../../assets/header/icon-x.svg" alt="Close menu" loading="lazy">
        </ng-template>
      </a>
    </li>
  </ul>


</div>

      </div>
    </div>
  </div>
</div>
</nav>
<div [ngClass]="{ 'dropDownBlock': true, 'open': openDropDown }">
  <ul class="m-1.5 ps-0">
    <li class="nav-item" [ngClass]="{ active: activeIndex === -1 }">
      <a (click)="activeLink(-1, '#home')" [ngStyle]="{ color: activeIndex === -1 ? '#12f7d6' : 'white' }">
        Summary
      </a>
    </li>
  </ul>

  <ul *ngFor="let link of links; trackBy : trackFun; let i = index" class="m-1.5 ps-0">
    <li class="nav-item" [ngClass]="{ active: activeIndex === i }">
      <a (click)="activeLink(i, link.nav)" [ngStyle]="{ color: activeIndex === i ? '#12f7d6' : 'white' }">
        {{ link.name }}
      </a>
    </li>
  </ul>

  <ul class="m-0 pb-3 ps-0">
    <li class="d-flex align-items-center">
      <img src="../../../../assets/header/github.svg" class="me-2" alt="github icon" loading="lazy">
      <a href="https://github.com/AbdullahKhormi" class="text-white text-decoration-none" target="_blank">
        <span>Github</span>
      </a>
    </li>
  </ul>
</div>
</div>