
<div class="about-me text-black">
  <div class="container">
    <div class="section_main scroll-img">
      <div class="section_details">
        <div class="row">

                <img src="../../../assets/common/Scroll.webp " width="32px" height="140px">

            </div>

            </div>
            </div>
                     <div class="section_main">
                    <div class="row all-side">

                            <div class="left-side col-12 col-md-12 col-lg-7 col-xl-7" appScrollReveal
  [animationClass]="'slide-left'"
  [delay]="'0s'"
  [duration]="'0s'"
    [repeat]="false">
                            <div class="title-section d-flex" >
                                <div class="title "
>

                                  <p>About Me</p>
                                </div>
                            </div>
                            <div class="box-about-me">
                                <p>As a Software Engineer with extensive experience in HTML, CSS, SASS, Bootstrap, Tillwinds CSS, JavaScript, TypeScript, Angular, Node.js, Express.js, and MongoDB and GIT, I specialize in building innovative and user-centric web applications. I have strong expertise in the MEAN stack and consistently strive to stay updated with the latest technologies, allowing me to grow continuously as a developer.</p>
                            </div>
                        </div>
                        <div class="right-side col-12 col-md-12 col-lg-5 col-xl-5" appScrollReveal
  [animationClass]="'zoom-in'"
  [delay]="'0s'"
  [duration]="'0s'"
    [repeat]="false">
                            <img src="../../../assets/about-me/Image.webp " >
                        </div>

                    </div>
                </div>
            </div>
            </div>
