@import "../../../styles/base/Custom";
@import "../../../styles/base/animations.scss";
@import "../../../styles/variables/colors.scss";

.about-me {
 border-top:1px solid grey ;

background-color: $bgColor1;
  img {
    object-fit: contain;
  }
}

.left-side {
  .title-section {
    margin-bottom: 64px;
    justify-content: center;

    .title {
      padding: 16px 40px;
      border: 4px solid $primary;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      color: $textWhite;

      p {
        margin-bottom: 0;
        font-size: 32px;
        text-align: center;
      }
    }
  }

  .box-about-me {
    padding: 24px 40px;
    background-color: $bgColor2;
    border-radius: 40px;

    p {
      margin-bottom: 0;
      font-size: 16px;
      color: $textWhite;
    }
  }
}

.all-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .right-side img {
    max-width: 100%;
    height: auto;
    margin-top: 64px;
  }
}

.scroll-img {
  display: none;
}

@media (min-width: 768px) {
  .all-side {
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-side {
      .title-section {
        justify-content: flex-start;

        .title {
          p {
            font-size: 64px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .scroll-img {
    display: block;
  }

  .scroll-img img {
    width: 32px;
    height: 140px;
    display: block;
  }

  .all-side {
    flex-direction: row;

    .right-side img {
      margin-top: 0;
    }
  }
}
