<section id="home">

    <app-summary></app-summary>

</section>

<section  id="about-me">

    <app-about-me></app-about-me>

</section>

<section id="skills">

    <app-skills></app-skills>

</section>

<section  id="works">

    <app-works></app-works>

</section>
<section  id="contact-me">

    <app-contact-me></app-contact-me>

</section>
<button *ngIf="show()" class="position-fixed bottom-0 end-0 mb-2" (click)="scroll()" aria-label="button to up"><i><img src="../../../../assets/common/icon-arrow-up-circle.svg" alt=" icon-arrow-up-circle" loading="lazy"></i></button>
