<div class="summary text-white">
  <div class="container">
    <div class="section_main">
      <div class="section_details">
        <div class="row">
          <div
            class="col-12 col-lg-4 col-xl-4 col-md-12 col-sm-12 d-flex justify-content-center"
          >
            <div class="left-side d-flex justify-content-center">
              <div class="holder-my-data ">
                <div class="my-data">
                  <div class="holder_image">
                    <img src="../../../assets/summary/Profile photo.svg" alt="image profile" loading="lazy" />
                    <h1 class="name">Abdullah Hassan</h1>
                    <h1 class="brief">Front-End Developer</h1>
                  </div>
                  <div class="my_info">
                    <div class="email">
                      <i><img src="../../../assets/summary/icon-mail.svg" alt="icon mail" loading="lazy"/></i>
                      <a
                        href="https://mail.google.com/mail/?view=cm&to=akhormi20@gmail.com"
                        target="_blank"
                        >akhormi20&#64;gmail.com</a
                      >
                    </div>
                    <div class="address">
                      <i
                        ><img src="../../../assets/summary/icon-map-pin.svg" alt="icon location " loading="lazy"
                      /></i>
                      <p>Riyadh / Jazan</p>
                    </div>
                    <div class="time">
                      <i
                        ><img src="../../../assets/summary/icon-briefcase.svg" alt="icon briefcase" loading="lazy"
                      /></i>
                      <p>Full-time / Freelance</p>
                    </div>
                    <div class="linkedin">
                      <i><img src="../../../assets/summary/icon-link.svg" alt="icon linkedIn" loading="lazy"/></i>
                      <a
                        href="https://www.linkedin.com/in/abdullah-khormi-1535611a7"
                        target="_blank"
                        >abdullah-khormi</a
                      >
                    </div>
                  </div>
                  <div class="holder-skills d-flex gap-1">
                    <div class="skills d-flex" *ngFor="let s of skills ; trackBy : trackByFn;  ">
                      <div>
                        <div class="skill">
                          <p>{{ s.name }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-side col-12 col-lg-8 col-md-12 col-xl-8 col-sm-12">
            <div
              class="holder-text d-flex align-items-center justify-content-center flex-column"
            >
              <div >
                <h1 class="mb-3">
                  Hey<br />
                  I’m <span>Abdullah Hassan</span><br />
                  Front-End Developer
                </h1>
                <p>
                  I help business grow by crafting amazing web experiences. If
                  you’re looking for a developer that likes to get stuff done,
                </p>
                <span class="me-3 talk">let’s talk</span>
                <a
                  href="https://mail.google.com/mail/?view=cm&to=akhormi20@gmail.com"
                  target="_blank"
                >
                  <img
                    src="../../../assets/summary/Button.svg"
                    width="40px"
                    height="40px"
                    alt="button to contact"
                /></a>
              </div>
            </div>
            <div class="data">
              <div class="d-flex flex-column justify-content-between">
                <div class="to">
                  <span>+6</span>
                  <p>Development Tools</p>
                </div>
                <div class="ex">
                  <span>4</span>
                  <p>Years of Experience</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
