<section #summarySection>
  <ng-container *ngIf="loadSummary">
    <app-summary></app-summary>
  </ng-container>
</section>

<section #aboutSection>
  <ng-container *ngIf="loadAbout">
    <app-about-me></app-about-me>
  </ng-container>
</section>

<section #skillsSection>
  <ng-container *ngIf="loadSkills">
    <app-skills></app-skills>
  </ng-container>
</section>

<section #worksSection>
  <ng-container *ngIf="loadWorks">
    <app-works></app-works>
  </ng-container>
</section>
<section #contactSection>
  <ng-container *ngIf="loadContact">
    <app-contact-me></app-contact-me>
  </ng-container>
</section>
