@import '../../../styles/base/Custom';
@import '../../../styles/variables/colors.scss';

.works {
  border-top:1px solid grey ;

background-color: $bgColor1;
  img {
    object-fit: contain;
  }
}

.scroll-img {
  display: none;

  .section_details {
    margin-bottom: 0;
  }
}

.section_details {
  margin-bottom: 64px;
}

.brief {
  color: #fff;
}


  .work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .under {
      border-bottom: 2px solid $textWhite;

      a {
        color: $primary;
        text-decoration: none;
        font-size: 18px;
        z-index: 2;
      }
    }
  }


.loading {


.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient($primary 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content:"Loading...";
  color:$primary;
}
}



@media (max-width: 768px) {
  .work-item img {

      width: 160px;
      max-width: 100%;
      height: auto;
      object-fit: contain;

  }
}
@media (min-width: 768px) {
  .work-item img {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .scroll-img {
    padding-bottom: 0;
    margin-bottom: 0;
    display: block;
  }
}


