<div class="works text-black">
  <div class="container">
    <div class="section_main scroll-img">
      <div class="section_details">
        <div class="row">

                <img src="../../../assets/common/Scroll.webp " width="32px" height="140px" alt="module scroll" loading="lazy">

            </div>


            </div>
            </div>
            <div class="section_main">
                 <div class="section_details"> <h1 class="title_section">Works</h1>
<p class="brief">I had the pleasure of working with these awesome projects</p></div>
<div class="content-works " style="position: relative;">
 <div class="work-item">
    <div class="under">
      <a href="https://qeema.net/home" target="_blank">Qeema Website</a>
    </div>
    <img src="../../../assets/works/qeema.png" alt="Qeema website" loading="lazy" />
  </div>

</div>
            </div>
            </div>
            </div>
